:root{
    --primary:#0D0D0D;
    --secondary: #FFFFFF;
    --tertiary: #707070;
    --background: #202020;
    --green: #70B200;
    --blue: #0071B2;
    --red: #E61800;
    --orange: #E67100 ;
}
* {
    margin: auto;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    align-items: center;
    text-align: center;
}

body{
    background-color: var(--background);
}
header{
    padding-top: 20px;
}

/*
font-family: 'Anton', sans-serif;*/