.navbar{
    padding: 10px;
    background-color: var(--primary);
    width: 220px;
    height: 60px;
    border-radius: 0px 0px 10px 10px;
    text-align: center;
    align-items: center;
}
.navicon{
    fill: blue;
}

.green{
    background-color: #0C1C0C;
    border-radius: 10px;
    position: static;
}
.red{
    background-color: #210C0C;
    border-radius: 10px;
}

.tags{
    border: 1,90px solid;
    border-radius: 10px;
    margin-top: 4.5px;
    margin-bottom: 4.5px;
}

.aprovado{
    border-color: var(--blue);
}
.aprovado:hover{
    background-color: var(--blue);
    border-color: var(--blue);
}
.fraude{
    border-color: var(--red);
}
.fraude:hover{
    background-color: var(--red);
    border-color: var(--red);
}
.cancelado{
    border-color: var(--orange);
}
.cancelado:hover{
    border-color:  var(--orange);
    background-color: var(--orange);
}
.fila{
    border-color: var(--green);
}
.fila:hover{
    border-color: var(--green);
    background-color: var(--green);
}

.quadrado_header{
    padding: 10px;
    background-color: var(--primary);
    width: 220px;
    height: 60px;
    border-radius: 10px;
    text-align: center;
    align-items: center;
}
.quadrado{
    padding: 10px;
    background-color: var(--primary);
    width: 220px;
    height: 160px;
    border-radius: 10px;
    text-align: center;
    align-items: center;

}
.quadrado_tags{
    padding: 10px;
    background-color: var(--primary);
    width: 220px;
    height: 400px;
    border-radius: 10px;
    text-align: center;
    margin: auto;
    align-items: center;
}
.quadrado_historico{
    padding: 10px 20px 0px 20px;
    background-color: var(--primary);
    width: 220px;
    height: 190px;
    border-radius: 10px;
    text-align: center;
    margin: auto;
    align-items: center;
}
.quadrado_theme{
    padding: 10px 20px 0px 20px;
    background-color: var(--primary);
    width: 220px;
    height: 100px;
    border-radius: 10px;
    text-align: center;
    margin: auto;
    align-items: center;
}
.txt_theme{
    padding-bottom: 10px;
}
section{
    padding-top: 3px;
    padding-bottom: 3px;
}
.col-auto{
    padding: 0px;
    margin: auto;
}

.txt_total{
    margin:auto;
    margin-bottom: 0;
    padding:0;
    font-size: 32px;
}
.logo{
    height: 200px;
    width: 200px;
}
.star_left{
    margin: auto;
    padding-left: 40px;
    padding-right: 0px;
}
.star_right{
    margin: auto;
    padding-left: 0px;
    padding-right: 40px;
}

.btn_circle{
    height: 20px;
    width: 20px;
    padding: 5px;
    border-radius: 50%;
}

.circle_black{
    background-color: var(--primary);
}

.circle_white{
    background-color: var(--secondary);
}
.btn:focus {
    outline: none;
    box-shadow: none;
  }
.txt_tags{
    padding-bottom: 10px;
}

.check-center{  
    display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: center;
     align-items: center;
 }



.form-select{
    border-radius: 10px;
    font-size: 15px;
    font-weight: 500;
    color: var(--secondary);
    background-color: var(--primary);
    margin-bottom: 20px;
}
option{
    box-shadow: none;
    outline: none;
    font-size: 15px;
    font-weight: 500;
    color: var(--secondary);
    background-color: var(--primary);
}

input{
    background: var(--background);
    border: none;
    outline: none;
    height: 50px;
    width: 50px;
    border-radius: 10px;
}
.salvar{
    background-color: var(--green);
    border-radius: 10px;
    height: 50px;
    width: 115px;
    margin-left: 10px;
}

.btn-c{
    width: 20px;
    height: 20px;
    margin-left: 6px;
    margin-right: 6px;
    border-radius: 10px;
    border-style: none;
}
.t01{
    background-color: #000000;
}
.t02{
    background-color: rgb(224, 224, 224);
}
.t03{
    background-color: #766DA5;
}
.t04{
    background-color: #000000;
}
.t05{
    background-color: #000000;
}
