h1{
    color: var(--secondary);
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    margin: auto;
}
input{
    color: var(--secondary);
    font-size: 15px;
    font-weight: 700;
}
h2{
    color: var(--secondary);
    text-align: center;
    font-size: 48px;
    font-weight: 800;
    margin: auto;
}
h3{
    color: var(--secondary);
    text-align: center;
    margin: auto;
    font-size: 16px;
    font-weight: 600;
}
p{
    margin:auto;
    margin-bottom: 0;
    font-size: 9.6px;
    font-weight: 600;
    color: var(--tertiary);
}
p.total_finalizados{
    padding-top: 10px;
}
p.alert{
  padding-top: 10px;
  margin:auto;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 600;
  color: var(--green);
}

/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color:  var(--secondary) var(--background);
  }
  
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 12px;
  }
  
  *::-webkit-scrollbar-track {
    background: var(--background);
  }
  
  *::-webkit-scrollbar-thumb {
    background-color:  var(--secondary);
    border-radius: 20px;
    border: 3px solid var(--background);
  }