:root{
    --primary:#0D0D0D;
    --secondary: #FFFFFF;
    --tertiary: #707070;
    --background: #202020;
    --green: #70B200;
    --blue: #0071B2;
    --red: #E61800;
    --orange: #E67100 ;
}

html { 
    background: url(/assets/clear-bg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
body{
    font-family: 'Poppins', sans-serif;
}

.button{
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
    border-style: none;
    color: var(--secondary);
    background: #ff4800;

    transition: .2s ease-in-out 0s;
}
.button:hover{
    cursor: pointer;
    transform: scale(1.05);
    background-color: white;
    color: var(--primary);
    
}

.title{
    color: #ff4800;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 40px;
}
.subtitle{
    font-family: 'Poppins', sans-serif;
    color: var(--secondary);
}

.image {
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 180s linear infinite;
}

@-moz-keyframes spin { 
    100% { -moz-transform: rotate(360deg); } 
}
@-webkit-keyframes spin { 
    100% { -webkit-transform: rotate(360deg); } 
}
@keyframes spin { 
    100% { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(360deg); 
    } 
}

.image:hover {
    transition: 0.1s;
    transition-delay: 0.1s;
    filter: grayscale(100%);
    -webkit-animation:spin-reverse 4s linear infinite;
    -moz-animation:spin-reverse 4s linear infinite;
    animation:spin-reverse 180s linear infinite;
}

@-moz-keyframes spin-reverse { 
    50% { -moz-transform: rotate(-360deg); } 
}
@-webkit-keyframes spin-reverse { 
    50% { -webkit-transform: rotate(-360deg); } 
}
@keyframes spin-reverse { 
    50% { 
        -webkit-transform: rotate(-360deg); 
        transform:rotate(-360deg); 
    } 
}