[data-theme="dark"] {
    --primary: #0D0D0D;
    --secondary: #FFFFFF;
    --tertiary: #707070;
    --background: #202020;
    --green: #70B200;
    --blue: #0071B2;
    --red: #E61800;
    --orange: #E67100;
}

[data-theme="white"] {
    --primary: #FFFFFF;
    --secondary: #0D0D0D;
    --tertiary: #707070;
    --background: #e1e1e1;
}

[data-theme="dracula"] {
    --primary: #282a36;
    --secondary: #f8f8f2;
    --tertiary: #707070;
    --background: #22212C;
    --green: #50fa7b;
    --blue: #8be9fd;
    --red: #ff5555;
    --orange: #ffb86c;
}
